@page "/appointments"

<div>
    <div class="row">
        <div class="col-md-6">
            <p>Lütfen Sicil Numaranızı Giriniz</p>
            <form>
                <div class="form-group">
                    <label>Sicil No</label>
                    <input type="text" id="SicilNo" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Bul" class="btn btn-primary" />
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <br />
            <div>
                <label>Ad</label>
                <label>"Ad"</label>
            </div>
            <div>
                <label>Soyad</label>
                <label>"Soyad"</label>
            </div>
            <div>
                <label>Email</label>
                <label>"Email"</label>
            </div>
            <div>
                <label>Lokasyon</label>
                <label>"Lokasyon"</label>
            </div>
        </div>
    </div>
    <div class="row">
    </div>
</div>