################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PMRU/.vs/PMRU/FileContentIndex/424ebda7-39ee-45cd-b4fd-84ebf2fe73ef.vsidx

# Visual Studio 2015 cache/options directory
.vs/

# appsettings.json files
**/appsettings.json