@inject IStringLocalizer<App> Loc
@page "/logout"
@using PMRU.BlazorUI.Contracts;
@inject IAuthenticationService authService
@inject NavigationManager navManager
<h3>@Loc[nameof(ResourceStrings.LogoutPageTitle)]</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        await authService.Logout();
        navManager.NavigateTo("/");
    }
}