@inject NavigationManager NavigationManager
@inject IStringLocalizer<App> Loc

<button class="btn btn-outline-dark btn-block" @onclick="Navigate">
    <span class="oi oi-arrow-left"></span>@Loc[nameof(ResourceStrings.BackPage)]
</button>

@code {
    [Parameter] public string Target { get; set; }

    void Navigate()
    {
        NavigationManager.NavigateTo($"{NavigationManager.BaseUri}{Target}");
    }
}