<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/open-iconic@1.1.0/font/css/open-iconic-bootstrap.css">

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">PMRU</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <AuthorizeView>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="admin/login/">
                        <span class="bi bi-person-fill" aria-hidden="true"></span> Login
                    </NavLink>
                </div>
            </NotAuthorized>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link">
                        <span class="bi bi-person-fill" aria-hidden="true"></span>@context.User?.Identity?.Name
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link">
                        @if (context.User?.Claims != null)
                        {
                            var registrationNumberClaim = context.User.Claims.FirstOrDefault(c => c.Type == "RegistrationNumber");
                            if (registrationNumberClaim != null)
                            {
                                <span class="oi oi-person" aria-hidden="true"></span>
                                <span>Sicil No: @registrationNumberClaim.Value</span>
                            }
                        }
                    </NavLink>
                </div>
             
            </Authorized>
        </AuthorizeView>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="appointments/">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Appointments
            </NavLink>
        </div>
        <AuthorizeView Roles="LocalAdmin,Doctor">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="availabilities/">
                    <span class="bi bi-alarm-fill" aria-hidden="true"></span> Availabilities
                </NavLink>
            </div>
        </AuthorizeView>
        
        <AuthorizeView Roles="DoctorAdmin,Doctor">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="doctorappointments/">
                    <span class="bi bi-calendar-check-fill" aria-hidden="true"></span> My Appointments
                </NavLink>
            </div>
        </AuthorizeView>
        <AuthorizeView Roles="LocalAdmin">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="localadminappointments/">
                    <span class="bi bi-calendar-check-fill" aria-hidden="true"></span> Doctors Appointments
                </NavLink>
            </div>
        </AuthorizeView>
        <AuthorizeView >
           <Authorized>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="logout/">
                        <span class="bi bi-arrow-circle-right" aria-hidden="true"></span> Log Out
            </NavLink>
        </div>
           </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="SystemAdmin">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="rolemanage/">
                    <span class="bi bi-person-bounding-box" aria-hidden="true"></span> Role Manage
                </NavLink>
            </div>
        </AuthorizeView>
     
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
